@import url(https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css);

* {
    margin: 0;
    font-family: "Plus Jakarta Display";
}

body {
    background-color: #E5E5E5;
    text-decoration: none;
}

a {
    text-decoration: none;
}